* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	text-align: center;
}
button {
	background-color: #127c7e;
	color: white;
	outline: none;
	border: none;
}
button:hover {
	background-color: #127c7e78;
}
.order-box {
	border: 2px solid black;
	margin: 10px auto;
	min-height: 40vh;
	max-height: 100vh;
	overflow-y: auto;
	max-width: 500px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
}
@media (max-width: 576px) {
	.order-box {
		width: 80vw;
	}
}
.chat-box {
	flex-grow: 1;
	border-bottom: 1px solid black;
}
.bot-section {
	display: flex;
	padding: 5px;
	flex-direction: column;
	align-items: start;
	width: fit-content;
}
.bot-section span {
	background-color: #127c7e;
	border-radius: 10px;
	border-top-left-radius: 0px;
}
.user-section {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.user-section span {
	border-radius: 10px;
	padding: 10px;
	border-top-right-radius: 0px;
	background-color: rgba(70, 100, 198, 0.674);
}

span {
	margin-top: 3px;
	padding: 5px;
	border-radius: 5px;
	width: max-content;
	color: white;
}

.input-section {
	display: flex;
}
form {
	margin: 10px 0;
}

input {
	width: 100%;
	float: left;
	flex: 80%;
	margin-right: 10px;
	padding: 10px;
	border-radius: 10px;
	outline: none;
}
button {
	float: right;
	flex: 10%;
	padding: 10px;
	border-radius: 10px;
}

.time {
	font-size: 0.65em;
	text-align: right;
	color: white;
	margin-top: 5px;
}
